# check_storwize_sv
define service {
    use                     storwize-service,30min_medium
    register                0
    host_name          storwize
    service_description     Check_Storage_Volume
    check_command           check_storwize_sv

   _DETAILLEDESC          vDisk cache and vDisk status
   _IMPACT                Critical: data loss, slow down performance
   _FIXACTIONS            Checks SAN zoning changes, cables. Call IBM
}
